.homepage-header {
	background: linear-gradient(
		155deg,
		rgba(251, 233, 229, 1) 0%,
		rgb(232, 241, 243, 1) 35%,
		rgb(232, 241, 243, 1) 65%,
		rgba(251, 233, 229, 1) 100%
	);
}

.homepage-header h2 {
	font-weight: 700;
}

.homepage-header p {
	font-weight: 500;
}

.recent-project-card {
	border: 1px solid #ccc;
}

.recent-project-image-wrapper img {
	border-radius: 15px 15px 0px 0px;
}
